<!DOCTYPE html>
<html>
<head>
  <title>Sensor Data &middot;</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <style type="text/css">
    .middle{
      text-align: center;
      margin-top: 55px;
      background-color: #292b2c;
    }
    .center {
  position: absolute;
/*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
  }
   #footer {

              background-color: #292b2c;
              text-align: center;
              padding-top: 150px;
              padding-bottom: 150px;
          }
  </style>

</head>
<body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="150" style="position: relative;">
  <nav class="navbar fixed-top navbar-toggleable-md navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ITWS-3</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#jumbotron">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="login.php"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button></a>
      </form>
    </div>
  </nav>
  <div class="jumbotron middle" id="jumbotron" style="color: white">
  <h1 class="display-3">Welcome To Sensor Data Page</h1>
  <p class="lead">Click one of the links below to know sensor data</p>
  <hr class="my-4">

    <div class="row">
    <span class="col-sm-3"></span>
    <a href="macro" style="text-align: center" class="col-sm-2"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Macro Sensor</button></a>
    <span class="col-sm-2"></span>
    <a href="micro" style="text-align: center" class="col-sm-2"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Micro Sensor</button></a>
    </div>
  </p>
</div>
<footer>
  <i style="color:white" class="fa fa-copyright">Sensors</i>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
